.welcome{
    display: flex;
    align-items: center;
}
.textoPrincipal{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: 150px;
    width: 50vw;
}
.imagemPrincipal{
    display: flex;
    justify-content: flex-end;
}
.imagemPrincipal img {
    margin-top: 30px;
    width: 50vw;
   
}
.textoPrincipal button{
    background-color: #D1A8A6;
    color: #063640; 
    border-radius: 20px;
    box-shadow: 1px 1px 6px 0px #063640;
    text-decoration-line: none;
    cursor: pointer;
    text-align:center;
}

.textoPrincipal button :hover{
    background-color:#063640;
    color: #D1A8A6;
}