.App {
    background-color: #F0E7E2;
    width: 100vw;
    display: flex;
    flex-direction: column;
    font-family: 'League Spartan', sans-serif;
    
}


.App a{
    text-decoration: none;
    cursor: pointer;
    color: #F0E7E2;
    margin: 5px;
}
