* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background:'#fa9849';
  color:  '#fff';
  font-family: 'CMU Serif', sans-serif;
                                              
  
}

a {
  color:'#fd5a35';
  text-decoration: none;
}
h1 {
  font-family: 'Dita Sweet', sans-serif;
}