.aboutMe{
    width: 100vw;
    height: 100%;
    display: flex;
    justify-content: center;

}
.aboutMe img{
    width: 600px;
}
.description a{
    color: #98737B;
}
.description h3, h4{
    font-family: 'Dancing Script', cursive;
    font-size: 30px;
}
.description{
    padding: 20px;
}